<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new To-Do</title>
</head>
<body>
<div layout:fragment="content" style="margin: 0 auto; width: max-content">
    <h2>Create new To-Do</h2>
    <form th:action="@{|/todos/create/users/${ownerId}|}" th:object="${todo}" method="post">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" th:field="*{title}" id="title">
            <div class="invalid-feedback d-block">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
        </div>

        <div class="mb-3">
            <input type="reset" class="btn btn-outline-secondary" value="Clear"/>
            <input type="submit" class="btn btn-primary" value="Create"/>
        </div>

    </form>
    <br>
    <a th:href="@{|/todos/all/users/${ownerId}|}">Go to To-Do List</a>
</div>
</body>
</html>