<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/template}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update existing Task</title>
</head>
<body>
<div layout:fragment="content" style="margin: 0 auto; width: max-content">
    <h2>Update existing Task</h2>
    <form th:object="${task}" method="post">

        <input type="hidden" name="id" th:value="*{id}">
        <input type="hidden" name="todoId" th:value="${task.todoId}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" class="form-control" th:field="*{id}" id="id" th:value="*{id}" disabled/>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name">
            <div class="invalid-feedback d-block">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="priority" class="form-label">Priority</label>
            <select name="priority" id="priority" class="form-select">
                <option th:each="priority : ${priorities}" th:value="${priority}" th:text="${priority.name()
                            .substring(0, 1) + priority.name().substring(1).toLowerCase()}"/>
            </select>
            <div class="invalid-feedback d-block">
                <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <select name="stateId" id="state" class="form-select" th:field="*{stateId}">
                <option th:each="state : ${states}" th:value="${state.id}"
                        th:text="${state.name}"/>
            </select>
            <div class="invalid-feedback d-block">
                <span th:if="${#fields.hasErrors('stateId')}" th:errors="*{stateId}"></span>
            </div>
        </div>

        <div class="mb-3">
            <input type="reset" class="btn btn-outline-secondary" value="Clear"/>
            <input type="submit" class="btn btn-primary" value="Update"/>
        </div>

    </form>
    <br>
    <a th:href="@{|/todos/${task.todoId}/read|}">Go to Task List</a>
</div>
</body>
</html>